/* Style Karyawan */
.form-karyawan .profile-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.form-karyawan .date-born{
    width: 40%;
}

.form-karyawan .date-born input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-karyawan fieldset.gender-border{
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 0 1.5rem 1rem 1rem;
}

.form-karyawan fieldset.gender-border legend{
    padding: 0 5px;
}

.form-karyawan .req-foto-wrap{
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 4px;
}

.form-karyawan .req-foto-wrap ul{
    margin: 0;
    padding: 0 0 0 1rem;
    display: block;
}
/* End Style Karyawan */

/* Style Gaji */
.detail-karyawan .detail-foto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.detail-karyawan .table-custom td{
    border: 0;
    padding: 0.5rem;
}

.form-gaji .detail-karyawan label{
    font-size : 12px;
}

.form-gaji .tunjangan-fieldset{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notify-content .modal-header{
    border-bottom: 0;
}

.notify-content .wrap-img{
    text-align: center;
}

.notify-content .wrap-img img{
    max-width: 250px;
    height: auto;
}

.notify-content .description{
    text-align: center;
}
/* End Gaji */

/* Modal Custom */
.modal-import .modal-header{
    border: 0;
    padding-bottom: 0;
}

.modal-import .modal-body .wrap-img{
    text-align: center;
}

.modal-import .modal-body .wrap-img img{
    max-width: 70%;
    height: auto;
}

.modal-import .modal-body .req-file{
    background: #eaecf4;
    padding: 1rem;
    border-radius: 4px;
}

.modal-import .modal-body .req-file ul{
    margin: 0;
    padding: 0 1rem;
}

/* Table Detail Laporan */
.table-detailLaporan tr td, .table-detailLaporan tr th{
    text-align: center;
    vertical-align: middle;
}
/* End */

/* Print Report */
.header-report{
    margin-top: 2rem;
    text-align: center;
}

.header-report img{
    max-width: 110px;
    height: auto;
    margin-bottom: 1rem;
}

.header-report h5{
    font-size: 20px;
}

@media print{
    .res-mediaPrint{
        display: none;
    }
}
/* End */

/* Slip Gaji */
.slip-gaji .card-header, .slip-gaji .card-footer{
    background: none;
    border: 0;
}

.slip-gaji .card-header h6{
    font-size: 18px;
    margin: 8px 0 0 0;
}

.slip-gaji .card-body{
    padding: 0 1rem;
}

.slip-gaji .wrap-grey{
    background: #f4f4f4;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.slip-gaji .wrap-grey p{
    margin-bottom: 0;
}

.slip-gaji .wrap-grey:last-child{
    margin: 0;
}

.slip-gaji .table tr td{
    border:0;
    padding: 3px;
}
/* End */

/* Sweetalert Custom Style */
.swal-modal .swal-text {
    text-align: center;
}
/* End */